<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MywebApp</display-name>
	<filter>
		<description>
		</description>
		<display-name>AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>demo.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/service/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>demo.Testing</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<display-name>RootServlet</display-name>
		<servlet-name>RootServlet</servlet-name>
		<servlet-class>demo.RootServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>demo.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginJ</display-name>
		<servlet-name>LoginJ</servlet-name>
		<servlet-class>demo.LoginJ</servlet-class>
		<init-param>
			<param-name>file</param-name>
			<param-value>100</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStudent</display-name>
		<servlet-name>AddStudent</servlet-name>
		<servlet-class>demo.AddStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RootServlet</servlet-name>
		<url-pattern>/root</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginJ</servlet-name>
		<url-pattern>/LoginJ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudent</servlet-name>
		<url-pattern>/service/AddStudent</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>dburl</param-name>
		<param-value>jdbc:msql:http://localhost:3306/db</param-value>
	</context-param>
</web-app>
